body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    border: 2px solid blue;
    margin: -8px;
    box-sizing: border-box;
    justify-content: space-around;
}

.logo {
    display: flex;
    border: 2px solid red;
    align-self: center;
    justify-content: center;
    flex: 1;
    font-size: 24px;

}

.links {
    border: 2px solid green;
    xjustify-content: flex-start;
    flex: 2;
}

ul {
    display: flex;
    border: 2px solid purple;
    xflex: 3;
    justify-content: center;
}

li {
    display: inline;
    border: 2px solid yellow;
    padding: 0px 20px;
   
}