body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #a1a1a1;
    color: white;
    display: flex;
    xborder: 2px solid blue;
    margin: -8px;
    box-sizing: border-box;
    justify-content: space-around;
}

.logo {
    display: flex;
    xborder: 2px solid red;
    align-self: center;
    justify-content: center;
    flex: 1;
    flex-shrink: 0;
    flex-basis: auto;
    font-size: 30px;

}

.links {
    xborder: 2px solid green;
    xjustify-content: flex-start;
    flex: 2;
}

ul {
    display: flex;
    xborder: 2px solid purple;
    xflex: 3;
    justify-content: center;
}

li {
    display: inline;
    xborder: 2px solid yellow;
    padding: 0px 40px;
    font-size: 20px;
   
}





.part1 {
    display:flex;
    background-color: #a1a1a1;
    xborder: 2px solid blue;
    padding: 150px;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
}

.title1 {
    display: flex;
    xborder: 2px solid red;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 1;
    width: 450px;
    height: 300px;
}

h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20;
}

p {
    color: white;
    xborder: 2px solid green;
    margin-bottom: 40px;
}

button {
    align-self: flex-start
    ;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    background-color: #00C1FF;
}

img {

    width: 450px;
    height: 300px;
    flex-shrink: 0;
    flex-basis: 1;
}